@layer components {
    .sidebar-container {
        @apply fixed top-0 left-0 h-screen w-16 flex flex-col
        bg-white dark:bg-gray-900 shadow-lg;
    }

    .settings-page {
        @apply fixed left-16 pl-3 w-full;
    }

    .settings-entry {
        @apply flex flex-row gap-2
        text-base font-semibold;
    }
}